body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Klee One', cursive;
    background-color:#8C96D8;
    color: #e0cec7;
}

header{
    flex-grow: 1;
    display: flex;
    background-color: #4D568C;
    color: #e0cec7;
}
h1{
    flex-grow: 9;
    text-align: center;
    padding-right: 150px;
    font-family: 'Rampart One', cursive;
}
.reset{
    flex-grow: 1;
    border: none;
    font-family: 'Klee One', cursive;
    font-size: 25px;
    background-color: #4D568C;
    color: #e0cec7;
}
.reset:hover{
    box-shadow: inset -10px -10px 20px #8C96D8, inset 10px 10px 20px #8C96D8;

}
main{
    flex-grow:10;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 35px;;
}

.points{
    font-size: 25px;
    margin: 0;
}

.game-board{
    flex-grow: 7;
    display: flex;
}

.half-screen{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.player-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.play-board{
    display: flex;
    justify-content: space-around;
}

.reponse{
    width: 200px;
}
.answer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resolution{
    flex-grow: 1;
    margin: auto;
    font-size: 25px;
    font-weight: bolder;
}
.image{
    width: 200px;
    height: auto;
}

.img-answer{
    border-radius: 10px;
}

.border-good{
    border: green solid 4px;
}

.border-bad{
    border: red solid 4px;
}

.hidden{
    display: none;
}

.shown{
    display: block;
}

.light-border{
    border-radius: 10px;
    border: white 4px solid;
}

.light-border-fix{
    border-radius: 10px;
    border: white 4px solid;
}

.light-border:hover{
    border-radius: 10px;
    border: black 4px solid;
}

.border-tie{
    border: blue 4px solid;
}